body {
    margin: 0;
    padding: 0;
    background-color: black;
    box-sizing: border-box;
}
.nav {
    background-color: white;
    width: 60vw;
    border-radius: 0.2rem;
}
.navbar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    float: right;
    gap: 5vw;
    margin-right: 5vw;
}
header {
    width: 100vw;
    height: 15vh;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sectionbar {
    width: 100vw;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.paragraf {
    width: 60vw;
    background-color: white;
    position: relative;
    top: -1.5vw;
}